from launch import LaunchDescription
from launch_ros.actions import Node

def generate_launch_description():
    return LaunchDescription([
        Node(
            package='joy',
            executable='joy_node',
            name='joy_node',
            output='screen'
        ),
        Node(
            package='ais_arduino_step_motor_joy_command_receiver',
            executable='servo_controller',
            name='servo_controller',
            output='screen'
        ),
    ])
